<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CxxDemangler" version="0.2.4.11" targetFramework="net461" />
  <package id="ELFSharp" version="1.0.4" targetFramework="net461" />
  <package id="JonSkeet.MiscUtil" version="0.1" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="net461" />
</packages>